POSTGRES_USER=cpulse
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_DB=cpulse
POSTGRES_PORT=5432
API_PORT=3042

DB_POOL_MAX=20
DB_STATEMENT_TIMEOUT_MS=15000

CACHE_TTL_SECONDS=60
RATE_LIMIT_TTL_SECONDS=60
RATE_LIMIT_MAX=120

RABBITMQ_USER=cpulse
RABBITMQ_PASSWORD=troque-esta-senha
RABBITMQ_MANAGEMENT_PORT=15672
ROLLUP_EXCHANGE=cpulse.rollup
ROLLUP_QUEUE=cpulse.rollup.refresh
ROLLUP_ROUTING_KEY=rollup.refresh
ROLLUP_CRON=0 */15 * * * *

LOG_LEVEL=info

PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=troque-esta-senha
